<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMG ~ Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
    </style>
</head>

<body>
    <header>
        <h1>The Morning Glory</h1>
        <h2>~ Feeding you useless information daily since forever ~</h2>
        <h3>Est. 1985</h3>
    </header>
    <nav>
        <ul>
            <li><a href="#" id="selected">Home</a></li>
            <li><a href="#">Sample Text</a></li>
            <li><a href="#">Sample Text</a></li>
            <li><a href="./contact">Contact</a></li>
            <li><a href="./about">About</a></li>
        </ul>
    </nav>
    <main id="main">
        <article>
            <h2 class="title">{{title0}}</h2>
            <div class="author">{{author0}}</div>
            <div class="date">{{publishedAt0}}</div>
            <img src="{{this.urlToImage0}}" alt="News image">
            <p class="description">{{description0}}</p>
            <a href="{{this.url0}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title1}}</h2>
            <div class="author">{{author1}}</div>
            <div class="date">{{publishedAt1}}</div>
            <img src="{{this.urlToImage1}}" alt="News image">
            <p class="description">{{description1}}</p>
            <a href="{{this.url1}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title2}}</h2>
            <div class="author">{{author2}}</div>
            <div class="date">{{publishedAt2}}</div>
            <img src="{{this.urlToImage2}}" alt="News image">
            <p class="description">{{description2}}</p>
            <a href="{{this.url2}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title3}}</h2>
            <div class="author">{{author3}}</div>
            <div class="date">{{publishedAt3}}</div>
            <img src="{{this.urlToImage3}}" alt="News image">
            <p class="description">{{description3}}</p>
            <a href="{{this.url3}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title4}}</h2>
            <div class="author">{{author4}}</div>
            <div class="date">{{publishedAt4}}</div>
            <img src="{{this.urlToImage4}}" alt="News image">
            <p class="description">{{description4}}</p>
            <a href="{{this.url4}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title5}}</h2>
            <div class="author">{{author5}}</div>
            <div class="date">{{publishedAt5}}</div>
            <img src="{{this.urlToImage5}}" alt="News image">
            <p class="description">{{description5}}</p>
            <a href="{{this.url5}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title6}}</h2>
            <div class="author">{{author6}}</div>
            <div class="date">{{publishedAt6}}</div>
            <img src="{{this.urlToImage6}}" alt="News image">
            <p class="description">{{description6}}</p>
            <a href="{{this.url6}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title7}}</h2>
            <div class="author">{{author7}}</div>
            <div class="date">{{publishedAt7}}</div>
            <img src="{{this.urlToImage7}}" alt="News image">
            <p class="description">{{description7}}</p>
            <a href="{{this.url7}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
        <article>
            <h2 class="title">{{title8}}</h2>
            <div class="author">{{author8}}</div>
            <div class="date">{{publishedAt8}}</div>
            <img src="{{this.urlToImage8}}" alt="News image">
            <p class="description">{{description8}}</p>
            <a href="{{this.url8}}" target="_blank"><button class="learn_more">Learn more &rarr;</button></a>
        </article>
    </main>
    <!-- <input type="range" name="" id="" min="10" max="110" value="50"> -->
</body>

</html>