:root{
    scrollbar-color: indigo coral ;
    scrollbar-width: thin;
    font-size: 16px;
    --bgcolour: linear-gradient(145deg, navy, indigo, blueviolet, coral, mediumvioletred);
}
* {
    padding: 0;
    margin: 0;
}
/* Fonts: Cinzel, Playfair Display, Cormorant Garamond */
/* colour-palette: navy, indigo, blueviolet, coral, mediumvioletred */

body{
    background: linear-gradient(to bottom, navy, indigo);
    overflow-x: hidden;
}

/* Header */
header{
    background: var(--bgcolour);
}
header h1{
    font-family: 'Cinzel', 'serif';
    text-align: center;
    font-size: 3.5rem;
    font-weight: normal;
    letter-spacing: 1.25rem;
    /* text-gradient */
    background: linear-gradient(to bottom, black 35%, coral);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
header h2{
    font-family: 'Playfair Display', 'serif';
    text-align: center;
    font-weight: normal;
    /* text-gradient */
    background: linear-gradient(to bottom, black 35%, mediumvioletred);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
header h3{
    font-family: 'Cormorant Garamond', 'serif';
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    padding-bottom: 10px;
}
/* /Header */

/* Nav */
nav{
    z-index: 1;
    position: sticky;
    top: 0;
}
nav ul{
    list-style-type: none;
    background: linear-gradient(to bottom, blueviolet, indigo);
    text-align: center;
    padding: 10px;
}
nav li{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
nav li a{
    font-family: 'Cormorant Garamond', 'serif';
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s;
    color: coral;
}
nav li a:hover{
    color: mediumvioletred;
}
#selected{
    color: mediumvioletred;
}
/* /Nav */

/* Article */
#main{
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}
#main article{
    box-sizing: border-box;
    position: relative;
    padding: 20px 20px 40px 20px;
    width: 100%;
    background: linear-gradient(to bottom, blueviolet,coral);
    text-align: center;
    border-radius: 20px;
}
.title{
    width: 100%;
    font-family: 'Cinzel', 'serif';
}
.author, .date{
    display: inline;
    text-align: left;
    font-family: 'Playfair Display', 'serif';
}
article img{
    width: 80%;
}
.description{
    font-family: 'Cormorant Garamond', 'serif';
}
.learn_more{
    cursor: pointer;
    position: absolute;
    padding: 0 5px;
    right: 5px;
    bottom: 5px;
    font-family: 'Cormorant Garamond', 'serif';
    font-size: 25px;
    font-weight: bold;
    color: mediumvioletred;
    background: var(--bgcolour);
    border: 2px solid indigo;
    border-radius: 20px;
}
/* /Article */

/* Contact page */
main h1{
    margin-top: 20px;
    font-family: 'Cinzel', 'serif';
    justify-content: center;
    text-align: center;
    font-weight: normal;
    color: mediumvioletred;
}
input, textarea{
    font-family: 'Cormorant Garamond', 'serif';
    font-size: 1.5rem;
    background: var(--bgcolour);
    color: wheat;
    border: 3px ridge wheat;
    margin-left: 30vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
input{
    width: 25vw;
}
#send{
    cursor: pointer;
}
/* /Contact page */

@media only screen and (max-width: 775px) {
    nav{
        position: static;
    }
    nav ul{
        padding: 0;
    }
    nav li{
        display: block;
        margin: 0;
        padding: 10px 0;
        background: linear-gradient(to bottom, blueviolet, indigo);
    }
    main{
        display: block;
        padding-bottom: 0;
    }
    main article{
        margin-bottom: 40px;
    }
}
